a {
  color: #2176FF;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #5495ff;
}

.btn {
  font-family: 'Raleway', sans-serif;
  border: 1px solid #5495ff;;
  border-radius: 10px;
  box-shadow: 0px 2px;
  background-color: white;
  text-decoration: none;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 400;
}

.btn:hover {
  text-transform: uppercase;
  background-color: #fff;
  color: #2176FF;
  transition: color .1s ease-in, background-color .1s ease-in;
}

.btn:active {
  font-size: 18px;
  transition: font-size .1s ease-in-out;
}

.activity {
  border-radius: 20px;
}

.activity:hover {
  color: #2176FF;
  background-color: #fff;
  border: 1px solid #2176FF;
  transition: color .1s ease-in, background-color .1s ease-in;
}

.activity:active {
  font-size: 40px;
  transition: font-size .1s ease-in-out;
}

