header {
    width: 100%;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*3ttlcj*_ga*ODYzNjM3ODg2NC4xNjc5MDY4Mjcy*_ga_3LRZM6TM9L*MTY3OTU5Mjk5Mi4yMS4xLjE2Nzk1OTQ0MjUuMC4wLjA.");
}

header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

span {
    font-weight: bold;
    color: blue;
}